@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;600;700&display=swap');

--root {
  --color-primary: fff;
  --color-extra: #2c8668;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* by default there is a little bit of margin and padding on the edges of a website and by using star it applies this base property to al the containers i guess */

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.4;
  color: #fff;
}

#banner {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: #3a3327;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  }

.navbar-container {
  /* We want this navbar container as a flex box not in flex with other things */
  text-align: center;
  justify-content: flex-start;
  
}

.navbar ul {
  list-style: none;
 
  display: inline-flex;
}

.navbar li {
  margin : 0 15px;
  font-weight: bold;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
}

.navbar-nav a:hover {
  color: #918d8d;
}

/* .btn-inverted {
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all .2s ease;
  transition: var(--buttonTransition);
} */

.title h1{
    font-size: 30px;
    color: blueviolet;
    text-emphasis-color: Black;
    text-align: center
}

.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
    
  }

/* #banner {
  background: url("/Images/bakemock.jpg") no-repeat center;
  background-size: 100% 100%;
  height: 630px;
} */

#entering_restaraunt {
    padding: 2rem;
    width: 100%;
    background-color: #f4f4f4;
}

#entering_restaraunt label {
    margin-left: 5px;
}

#entering_restaraunt h2 {
  color: #000;
}

#entering_restaraunt input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}

/* Get AlternateGotNo2D,Pretendard font working and add the underbar hover animation */
.food-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }

  .food-btn:hover {
    background: #444;
  }


  