.title h1{
    font-size: 30px;
    color: blueviolet;
    text-emphasis-color: Black;
    text-align: center
}

.rform rname{
    width: 300px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }