@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;600;700&display=swap');

--root {
  --color-primary: fff;
  --color-extra: #2c8668;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* by default there is a little bit of margin and padding on the edges of a website and by using star it applies this base property to al the containers i guess */

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.4;
  background-color: #3a3327;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: #3a3327;
  padding: 20px;
  /* box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
  0 0 2px rgb(0 0 0 / 7%); */
  }

.navbar-container {
  /* We want this navbar container as a flex box not in flex with other things */
  text-align: center;
  justify-content: flex-start;
  
}

.navbar ul {
  list-style: none;
  display: inline-flex;
}

.navbar li {
  margin : 0 15px;
  font-weight: bold;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  transition: transform 300ms ease-in-out;
  transform-origin: left;
}

.navbar-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: -1;

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.navbar-nav:hover::before,
.navbar-nav:focus::before {
  transform: scaleX(1);
}

.navbar-nav {
  transition: color 300ms ease-in-out;
  z-index: 1;
}
.navbar-nav a:hover {
  border-radius: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* .btn-inverted {
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all .2s ease;
  transition: var(--buttonTransition);
} */

.title h1{
    font-size: 30px;
    color: blueviolet;
    text-emphasis-color: Black;
    text-align: center
}

.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: auto;
    background-size: cover;
    background-position: center;
  }

#banner {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

#entering_restaraunt {
    position: center;
    padding: 3rem 2rem;
    margin: 10% auto;
    width: 500px;
    background-color: #f4f4f4;
}

#entering_restaraunt label {
    margin-left: 5px;
}

#entering_restaraunt h2 {
  color: #000;
}

#entering_restaraunt input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}

/* Get AlternateGotNo2D,Pretendard font working and add the underbar hover animation */
.food-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }

.food-btn:hover {
  background: #444;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #3a3327;
  padding: 20px;
  
} 

.bottom-menu-wrapper {
  padding-left: 15px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.bottom-menu-item {
  display: inline-flex;
  padding: 18px 0; /* top and bottom paddings are 18px
  right and left paddings are 0px */
  justify-content: flex-start;
  column-gap: 15px;
}

.bottom-menu-item a{
  color: #fff;
}

.footer-description {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #444;
  padding: 18px 0;
  padding-left: 15px;
  font-size: 0
}

.footer-title {
  color: #fff;
  font-size: 13px;
}

.footer-info {
  display: inline-flex;
  font-size: 12px;
  color: #bbb;
}

.footer-info span {
  margin-right: 6px;
  color: #bbb;
}
